<div class="wrapper">


    <div class="myaccount">
        <div class="wrap">
            <img src="./assets/images/pass.png">
            <h3>Transaction Declined</h3>
            <p>
                You transaction has failed due to some <br> technical error. Please try again
            </p>

            <div class="pay-button">
                <button class="btn red" (click)="goToPayment()">Try Again</button>
                <button class="btn red-border" (click)="goToHome()">Cancel</button>
            </div>
        </div>
    </div>