<div class="wrapper">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="myaccount">
        <div class="title">
            <h3>My Account</h3>
        </div>

        <div class="account-section">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12">
                    <div class="profileimg">
                        <img src="./assets/images/avtar.jpeg">
                    </div>
                </div>

                <div class="col-lg-10 col-sm-12 col-md-12">
                    <div class="profile-detail">
                        <div class="profile-title">
                            <h3>{{userInfo?.fname || 'noFname'}} {{userInfo?.lname || 'noLname'}}</h3>
                        </div>

                        <div class="profile-content">
                            <div class="content">
                                <label>Email : </label>
                                <p>{{userInfo?.email}}</p>
                            </div>

                            <div class="content">
                                <label>Username : </label>
                                <p>{{userInfo?.username}}</p>
                            </div>

                            <div class="content">
                                <label>CurrentPlan : </label>
                                <p>Free</p>
                                <button class="bg-blue" *ngIf="isFreePlan" (click)="changeRoute('/subscription-plan')">
                                    <a routerLink="/subscription-plan">Upgrade</a>
                                </button>
                            </div>

                            <div class="content">
                                <div class="butttons">
                                    <button class="bg-white" (click)="changeRoute('/edit-profile')">
                                        <a routerLink="/edit-profile">Edit Account</a>
                                    </button>

                                    <button class="bg-white" (click)="changeRoute('/change-password')">
                                        <a routerLink="/change-password">Change Password</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="plan-section">
            <div class="plan">
                <div class="plan-title">
                    <h3>Current Plan - Free</h3>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="left-div">
                            <div class="points">
                                <img src="./assets/images/check1.png">
                                <p>Advanced Al Summaries</p>
                            </div>

                            <div class="points">
                                <img src="./assets/images/check1.png">
                                <p>Important Keyword Extraction</p>
                            </div>

                            <div class="points">
                                <img src="./assets/images/check1.png">
                                <p>Word/Concept Explanation</p>
                            </div>
                            <div class="points">
                                <img src="./assets/images/check1.png">
                                <p>Important Data Extraction</p>
                            </div>
                            <div class="points">
                                <img src="./assets/images/check1.png">
                                <p>Access To Discussion Forums (Coming Soon)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="right-div">
                            <div class="content2">
                                <p>Add powerful features in your schedule to help you do more with Helppr and save you hours do it the smarter way.</p>
                            </div>


                            <div class="button-upgrade" *ngIf="isFreePlan">
                                <button class="bg-blue" (click)="changeRoute('/subscription-plan')">
                                    <a routerLink="/subscription-plan">Upgrade now</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>