.wrapper {
    display: flex;
    padding: 0 100px 0 150px;
}

.sidebar {
    width: 250px;
}

.myaccount {
    padding: 50px 20px 50px 40px;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #171725;
    margin: 0;
    padding: 0;
}

.account-section {
    padding-top: 40px;
}

.content label {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 35px;
    font-weight: 300;
}

.content {
    padding-top: 20px;
}

.content p {
    display: inline;
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
}

button {
    border: none;
}

.bg-blue {
    background-color: #3FAFD5
}

.content a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.content button {
    margin-left: 20px;
    border-radius: 24px;
    padding: 1px 12px;
}

.content .butttons a {
    color: #3BADD4;
    font-size: 15px;
    line-height: 30px;
}

.content .butttons button {
    margin-left: 0;
    border: 1px solid #3FAFD5;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 10px;
    padding: 3px 22px;
}

.points img {
    float: left;
}

.points p {
    overflow: hidden;
    padding-left: 15px;
    font-size: 15px;
    line-height: 18px;
}

.plan {
    margin-top: 50px;
    padding: 40px 50px 70px;
    border: 2px solid #3FAFD5;
    border-radius: 26px;
}

.plan-title {
    padding-bottom: 15px;
}

.plan h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 46px;
    /* identical to box height, or 164% */
    color: #231D4F;
}

.points {
    padding-top: 23px;
}

.button-upgrade button {
    mix-blend-mode: normal;
    border-radius: 24px;
    padding: 8px 57px;
}

.button-upgrade a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
}

.button-upgrade {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}

.content2 p {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    text-align: center;
    color: #18191F;
}

button.bg-blue {
    padding: 11px 57px;
}

@media screen and (max-width:991px) {
    .sidebar {
        display: none
    }
    .right-div .content2 {
        padding-top: 40px
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 20px 20px;
    }
    .wrapper {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .butttons button {
        margin-bottom: 20px;
    }
    .myaccount {
        padding: 50px 10px 50px 10px;
    }
    .plan {
        padding: 40px 20px 70px 20px;
    }
}