.header {
    height: 70px;
    padding: 0 150px;
    border: 1px solid #D9D9D9;
}

.logo img {
    width: 86.81px;
    height: 42.39px;
}

.logo {
    float: left;
}

.notification {
    float: right;
}

.icon {
    display: inline;
    padding-right: 20px;
}

.profile-img {
    display: inline;
}

.header-wrapper {
    padding-top: 15px;
}

.profile-img img {
    width: 32px;
    cursor: pointer;
}

.hamburger .fa {
    font-size: 24px;
    vertical-align: sub;
}

.hamburger {
    display: none;
}

@media screen and (max-width:991px) {
    .hamburger {
        display: inline;
        padding-left: 15px;
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 0px 20px;
    }
    .wrapper {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}