<div class="sidemenu">
    <ul>
        <li>
            <img src="./assets/images/user.png">
            <a routerLink="/home-page">My Account</a>
        </li>

        <li>
            <img src="./assets/images/img3.png">
            <a routerLink="/">Community Forum</a>
        </li>

        <li>
            <img src="./assets/images/Vector.png">
            <a routerLink="/subscription-plan">Helpr Plans</a>
        </li>

        <li>
            <img src="./assets/images/out.png">
            <a routerLink="/home-page">Logout</a>
        </li>
    </ul>
</div>