<div class="sidemenu" [ngClass]="isShowMenu?'showMobile' : '' ">
    <ul>
        <li>
            <img src="./assets/images/account.svg">
            <a class="active" routerLink="/home-page">My Account</a>
        </li>

        <li>
            <img src="./assets/images/community.svg">
            <a routerLink="/">Community Forum</a>
        </li>

        <li>
            <img src="./assets/images/plan.svg">
            <a routerLink="/subscription-plan">Helppr Plans</a>
        </li>

        <li>
            <img src="./assets/images/logout.svg">
            <a href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
    </ul>
</div>