<div class="sidemenu">
    <ul>
        <li>
            <img src="./assets/images/user.png">
            <a class="active" routerLink="/home-page">My Account</a>
        </li>

        <li>
            <img src="./assets/images/nsg.png">
            <a routerLink="/">Community Forum</a>
        </li>

        <li>
            <img src="./assets/images/img3.png">
            <a routerLink="/subscription-plan">Helpr Plans</a>
        </li>

        <li>
            <img src="./assets/images/out.png">
            <a href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
    </ul>
</div>