.wrapper {
    display: flex;
    padding: 0 100px 0 150px;
}

.sidebar {
    width: 250px;
}

.myaccount {
    padding: 25px 20px 50px 40px;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #171725;
    margin: 0;
    padding: 0;
}

.arrow1 {
    margin-top: 25px;
    cursor: pointer;
}

.arrow {
    border: solid #3BADD4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-right: 15px;
}

.arrow1 a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1px;
    color: #3BADD4;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.form-class {
    display: flex;
    margin-top: 40px;
}

.right-form {
    padding-left: 3.25rem;
    width: 450px;
}

.right-form,
.user-leftimg.mb-20 {
    float: left;
}

input {
    outline: none;
    border: none;
}

.form-group {
    border: 1px solid #A8B3C1;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-class .form-group p {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */
    letter-spacing: 0.15px;
    color: #7C8796;
    padding: 3px 10px 0;
}

.form-group input {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;
    color: #2A3844;
    padding: 0 10px;
    width: 100%;
}

.f-50 {
    width: 49%;
    display: inline-block;
}

.form-class p {
    font-size: 15px;
    line-height: 35px;
    /* identical to box height, or 233% */
    font-feature-settings: 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}

.button-submit button {
    font-family: 'Poppins', sans-serif;
    background: #3BADD4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.571429px;
    color: #FFFFFF;
    width: 100%;
    padding: 11px 0;
}

.button-submit {
    border: none;
}

.myaccount {
    padding-bottom: 300px !important;
}

.user-leftimg {
    pointer-events: none;
}

@media screen and (min-width:992px) {
    .sidebar {
        height: 100%;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        min-height: 200px;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
    }
}

@media screen and (max-width:991px) {
    .sidebar {
        width: auto;
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 20px 20px;
    }
    .wrapper {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .butttons button {
        margin-bottom: 20px;
    }
    .myaccount {
        padding: 50px 10px 50px 10px;
    }
    .plan {
        padding: 40px 20px 70px 20px;
    }
    .user-leftimg.mb-20 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .form-class {
        display: block;
    }
    .right-form {
        float: none;
        width: 100%;
        padding: 0;
    }
}