.wrapper {
    display: block;
    padding: 0 100px 0 150px;
}

.myaccount {
    padding: 50px 20px 50px 40px;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #171725;
    margin: 0;
    padding: 0;
}

.arrow1 {
    margin-top: 25px;
    cursor: pointer;
}

.arrow {
    border: solid #3BADD4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-right: 15px;
}

.arrow1 a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1px;
    color: #3BADD4;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.title-wrapper {
    padding-bottom: 60px;
}

.toggle {
    position: relative;
    width: 50px;
    height: 23px;
    border-radius: 100px;
    background: #D9D9D9;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgb(0 0 0 / 5%);
}

.toggle.active {
    background: #3FAFD5;
}

.toggle,
.toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, 0.08s;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.b {
    display: block;
}

.check:checked~.switch {
    right: 2px;
    left: 57.5%;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0.08s, 0s;
}

.title {
    width: 50%;
    float: left;
}

.toggle-part {
    width: 50%;
    float: right;
    text-align: right;
}

.toggle-part p {
    display: inline;
    margin-top: 6px;
    padding-right: 10px;
    /* vertical-align: baseline; */
}

.tile h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.1px;
    color: #3BADD4;
}

.tile {
    padding: 10px 0;
}

.toggle-part p,
.content ul li,
.content p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 10px 0;
    font-size: 15px;
    line-height: 36px;
    /* or 277% */
    letter-spacing: 0.1px;
    color: #000000;
}

span.bg-blue {
    background: rgba(63, 175, 213, 0.2)
}

ul {
    padding: 15px;
}

@media screen and (max-width:767px) {
    .header {
        padding: 20px 20px;
    }
    .wrapper {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .toggle-part,
    .title {
        float: none;
        width: 100%;
        text-align: center;
    }
    .toggle-part {
        padding-top: 25px;
    }
    .title-wrapper {
        padding-bottom: 30px;
    }
    .myaccount {
        padding: 30px 20px 50px 40px;
        width: 100%;
    }
}