<div class="wrapper">


    <div class="myaccount">
        <div class="title-wrapper">
            <div class="title">
                <h3>Privacy Policy</h3>
            </div>
            <div class="toggle-part">
                <p>View Main Points Highlighted</p>
                <div class="toggle" [ngClass]="isactive? 'active' : '' ">
                    <input type="checkbox" id="switcher" class="check" [(ngModel)]="switch" (change)="getToggleValue($event)">
                    <b class="b switch"></b>
                </div>
            </div>
        </div>




        <div class="content">
            <p>
                Thanks for using Helppr.ai! We understand your privacy concerns. We want you to understand what types of information we collect and what may happen to that information when you use the Helppr website, software, and services.
            </p>

            <div class="tile">
                <h3>
                    USER ACCOUNTS AND COLLECTION OF INFORMATION

                </h3>
            </div>
            <p>
                Thanks for using Helppr.ai! We understand your privacy concerns. We want you to understand what types of information we collect and what may happen to that information when you use the Helppr website, software, and services.
            </p>
            <p>Account information: You are not required to create a user account or provide any personal information to visit the Helppr website. You are required to create a user account, however, to use our services.
                <span class="" [ngClass]="isactive? 'bg-blue' : ''">
                    We collect and associate with your account, the information you provide to us when you do things such as sign up for your account, upgrade to a paid plan 
                </span> (like your name, email address, phone number, payment info, and physical address)</p>

            <p>
                Your Stuff: <span class="" [ngClass]="isactive? 'bg-blue' : ''">Our Services are designed as a simple and personalized way for you to read your documents, web pages, pdf and so on (“Your Stuff”), collaborate with others, and work across multiple devices and services. To make that possible, we store, process,
                and transmit Your Stuff as well as information related to it. </span>This related information includes your profile information that makes it easier to collaborate and share Your Stuff with others, as well as things like the size of the
                file, the time it was uploaded, collaborators, and usage activity
            </p>

            <p>
                Contacts :<span class="" [ngClass]="isactive? 'bg-blue' : ''"> You may choose to give us access to your contacts to make it easy for you to share Your Stuff, and invite others to use the Services.</span> If you do, we’ll store those contacts
                and emails on our servers for you to use.
            </p>

            <p>
                Usage information : We collect information related to how you use the Services, including actions you take in your account (like sharing, editing, viewing, creating, and moving files or folders).<span class="" [ngClass]="isactive? 'bg-blue' : ''"> We use this information to provide, improve, and promote
                our Services, and protect Helppr.ai users.</span> Please refer to our FAQ for more information about how we use this usage information
            </p>

            <p>
                Device information : We also collect information from and about the devices you use to access the Services. This includes things like IP addresses, the type of browser and device you use, the web page you visited before coming to our sites, and identifiers
                associated with your devices. Your devices (depending on their settings) may also transmit location information to the Services. For example, we use device information to detect abuse and identify and troubleshoot bugs.

            </p>

            <p>
                Payment Information : If you choose to subscribe to our paid subscription service, our third-party payment processors will collect and handle your credit card and related payment information. Such third-party processors’ use of your personal information
                is governed by their respective privacy policies
            </p>

            <div class="tile">
                <h3>
                    USE OF INFORMATION
                </h3>
            </div>
            <p>Marketing : We give users the option to use some of our Services free of charge. These free Services are made possible by the fact that some users upgrade to one of our paid Services. If you register for our Services, we will, from time to
                time, send you information about upgrades when permissible. Users who receive these marketing materials can opt-out at any time.<span class="" [ngClass]="isactive? 'bg-blue' : ''"> If you don’t want to receive a particular type of marketing material from us, click the unsubscribe link in
                the corresponding emails, or update your preferences in the Notifications section of your account</span></p>

            <p>We sometimes contact people who don’t have a Helppr.ai account. For recipients in the XYZ Country, we or a third party will obtain consent before reaching out. If you receive an email and no longer wish to be contacted by Helppr.ai, you can
                unsubscribe and remove yourself from our contact list via the message itself</p>
            <p>Bases for processing your data :<span class="" [ngClass]="isactive? 'bg-blue' : ''"> We collect and use the personal data described above to provide you with the Services reliably and securely.</span> We also collect and use personal data
                for our legitimate business needs. <span class="" [ngClass]="isactive? 'bg-blue' : ''">To the extent we process
                your data for other purposes, we ask for your consent in advance or require that our partners obtain such consent. We also use non-identifying, aggregated information to analyze how the Helppr services are used,</span> which also allows
                us to improve our services. The aggregated information we use includes how articles, videos, or content has been accessed, saved, edited, processed, and shared. We may use the aggregated information to offer a list of top sites or content,
                to make recommendations to our users, to report on usage and trends, to improve the products and services that we offer, or to develop new products and services</p>
            <div class="tile">
                <h3>
                    SHARING OF INFORMATION
                </h3>
            </div>
            <p>We may share information as discussed below, but we won’t sell it to advertisers or other third parties. Except as set forth below, we do not share any personally identifiable information unless you expressly agree that we may do so.</p>
            <p>Other users : Our Services display information like your name, profile picture, device, email address, and usage information to other users you collaborate with or choose to share with. When you register your Helppr.ai account with an email
                address on a domain owned by your employer or organization, we may help collaborators and administrators find you and your team by making some of your basic information—like your name, team name, profile picture, and email address—visible
                to other users on the same domain. <span class="" [ngClass]="isactive? 'bg-blue' : ''"> This helps you sync up with teams you can join and helps other users share files and folders with you.</span></p>
            <p>Law & Order and the Public Interest : <span class="" [ngClass]="isactive? 'bg-blue' : ''">Although we strive to protect the personal information of our users, we will release personal information if required by law or in the good-faith belief that such action is necessary.</span>                We follow the law whenever we receive requests about you from a government or related to a lawsuit. <span class="" [ngClass]="isactive? 'bg-blue' : ''">We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to: (a) comply with any applicable law, regulation,
                legal process, or appropriate governmental request; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Helppr.ai or our users; (d) protect Helppr.ai’s rights, property, safety, or interest; or (e)
                perform a task carried out in the public interest.</span></p>
            <p>Stewardship of your data is critical to us and a responsibility that we embrace. We believe that your data should receive the same legal protections regardless of whether it’s stored on our Services or on your home computer’s hard drive. We’ll
                abide by the following when receiving, scrutinizing, and responding to government requests (including national security requests) for your data:</p>

            <div class="tile">
                <h3>
                    SHARING OF INFORMATION
                </h3>
            </div>
            <p>Stewardship of your data is critical to us and a responsibility that we embrace. We believe that your data should receive the same legal protections regardless of whether it’s stored on our Services or on your home computer’s hard drive. We’ll
                abide by the following when receiving, scrutinizing, and responding to government requests (including national security requests) for your data:</p>
            <p>Other users : Our Services display information like your name, profile picture, device, email address, and usage information to other users you collaborate with or choose to share with. When you register your Helppr.ai account with an email
                address on a domain owned by your employer or organization, we may help collaborators and administrators find you and your team by making some of your basic information—like your name, team name, profile picture, and email address—visible
                to other users on the same domain. This helps you sync up with teams you can join and helps other users share files and folders with you.</p>
            <p>Law & Order and the Public Interest : Although we strive to protect the personal information of our users, we will release personal information if required by law or in the good-faith belief that such action is necessary. We follow the law
                whenever we receive requests about you from a government or related to a lawsuit. We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to: (a) comply with any applicable law, regulation,
                legal process, or appropriate governmental request; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Helppr.ai or our users; (d) protect Helppr.ai’s rights, property, safety, or interest; or (e)
                perform a task carried out in the public interest.</p>
            <p>Stewardship of your data is critical to us and a responsibility that we embrace. We believe that your data should receive the same legal protections regardless of whether it’s stored on our Services or on your home computer’s hard drive. We’ll
                abide by the following when receiving, scrutinizing, and responding to government requests (including national security requests) for your data:</p>
            <ul>
                <li>
                    Be transparent
                </li>
                <li>
                    Fight blanket requests
                </li>
                <li>
                    Protect all users,and
                </li>
                <li>
                    Provide trusted services.
                </li>
            </ul>
            <div class="tile">
                <h3>
                    SECURITY
                </h3>
            </div>
            <p><span class="" [ngClass]="isactive? 'bg-blue' : ''">We have a team dedicated to keeping your information secure and testing for vulnerabilities. </span>We have agreements with third parties and have adopted other security measures in place
                to protect against the loss, misuse, and/or unauthorized alteration of the information under our control or under the control of our service providers. <span class="" [ngClass]="isactive? 'bg-blue' : ''">We continue to work on features to keep your information safe in addition to things like two-factor authentication, encryption of files at rest, and alerts
                when new devices and apps are linked to your account. </span>We deploy automated technologies to detect abusive behavior and content that may harm our Services, you, or other users. <span class="" [ngClass]="isactive? 'bg-blue' : ''">Although we use industry-standard practices to protect your
                privacy, we do not promise, and you should not expect, that your personal information or private communications will always remain free from security issues.</span> In the event of a security breach involving your personal information,
                we will make any legally required disclosures to you in the most expedient time possible and without unreasonable delay, consistent with the legitimate interests of law enforcement, or any measures necessary to determine the scope of the
                breach and restore the reasonable integrity of the data system</p>
            <div class="tile">
                <h3>
                    YOUR CONTROL AND ACCESS OF YOUR DATA
                </h3>
            </div>
            <p>By providing personal information to us, you consent to us collecting, holding, using, and disclosing your personal information in accordance with this privacy policy. <span class="" [ngClass]="isactive? 'bg-blue' : ''">You can access, amend, and delete your personal information by logging
                into your Helppr.ai account and going to your account settings page. You may request that we erase the personal information we hold about you at any time.</span>
            </p>
            <p>If you would like to submit a data access request, request that your personal data be deleted, or object to the processing of your personal data, please email us at <span class="" [ngClass]="isactive? 'bg-blue' : ''">privacy@helppr.ai.com. </span>For
                more information on how to control and access your personal data, please see our FAQ</p>
            <div class="tile">
                <h3>
                    RETENTION
                </h3>
            </div>
            <p><span class="" [ngClass]="isactive? 'bg-blue' : ''">When you sign up for an account with us, we’ll retain the information you store on our Services for as long as your account exists or as long as we need it to provide you the Services. If you delete your account, we’ll initiate the deletion
                of this information after 30 days. </span>But please note: (1) there might be some latency in deleting this information from our servers and backup storage; and (2) we may retain this information if necessary to comply with our legal obligations,
                resolve disputes, or enforce our agreements.
            </p>
            <div class="tile">
                <h3>
                    TRANSFER OF INFORMATION
                </h3>
            </div>

            <p><span class="" [ngClass]="isactive? 'bg-blue' : ''">To provide you with the Services, we may store, process, and transmit data in India and locations around the world—including those outside your country. </span>Data may also be stored locally
                on the devices you use to access the Services. By giving us information, you consent to this kind of transfer of your information. No matter what country your information is in, <span class="" [ngClass]="isactive? 'bg-blue' : ''">we comply with applicable law and will also abide by the commitments we make in this privacy policy.</span>
            </p>

            <div class="tile">
                <h3>
                    CHANGES
                </h3>
            </div>
            <p>If we’re involved in a reorganization, merger, acquisition, or sale of our assets, your data may be transferred as part of that deal.<span class="" [ngClass]="isactive? 'bg-blue' : ''"> We’ll notify you (for example, via a message to the email address associated with your account) of any such
                deal and outline your choices in that event.</span>
            </p>
            <p>We may revise this Privacy Policy from time to time and will post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you.
            </p>
            <div class="tile">
                <h3>
                    CONTACT

                </h3>
            </div>

            <p>Have questions or concerns about Helppr.ai, our Services, and privacy? Contact our Data Protection Officer at <span class="" [ngClass]="isactive? 'bg-blue' : ''">privacy@helppr.ai.com.</span> If they can’t answer your question, you have the
                right to contact your local data protection supervisory authority.
            </p>
        </div>

    </div>
</div>