footer {
    width: 100%;
    background-color: #1b262c;
    padding: 2rem 0;
}

footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

footer .inner small {
    color: #ffffff;
}

footer .inner .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

footer .inner .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4b5461;
    color: #ffffff;
}

footer .inner .social a svg {
    height: 24px;
}

footer .inner .social a+a {
    margin-left: 1rem;
}

.link {
    padding-top: 30px;
}

.link a {
    color: #ffffff;
}

.link a {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
}