/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
p {
    margin: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.panel.card.panel-default,
.panel-heading.card-header {
    background-color: #fff;
    border: none;
}

.panel {
    padding-top: 12px;
}

.panel-body.card-block.card-body {
    padding: 4px 25px;
}

button {
    outline: none;
    bordeR: none
}