.custom-card-detail-field {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.custom-card-detail-field .field {
    border: 1px solid #eee !important;
    padding: 0px 15px;
}

.custom-card-detail-field .__PrivateStripeElement iframe {
    height: 46px !important;
}

.pay-button {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.title h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #171725;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pay-wrap {
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 0px 0px 35px rgb(0 0 0 / 10%);
    padding: 36px;
    border-radius: 20px;
}

.form-group.custom-card-detail-field {
    background-color: #fff;
    padding: 30px 20px;
    border: 3px solid #dcdcdc;
    color: #000;
}

.title {
    padding-bottom: 50px;
}

.pay-button button {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    mix-blend-mode: normal;
    border-radius: 24px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background: #3FAFD5;
    font-weight: 500;
    padding: 20px 57px;
}