.wrapper {
    display: flex;
    padding: 0 100px 0 150px;
}

.sidebar {
    width: 250px;
}

.myaccount {
    padding: 50px 20px 50px 40px;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #171725;
    margin: 0;
    padding: 0;
}

.arrow1 {
    margin-top: 25px;
    cursor: pointer;
}

.arrow {
    border: solid #3BADD4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-right: 15px;
}

.arrow1 a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1px;
    color: #3BADD4;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.button-submit button {
    font-family: 'Poppins', sans-serif;
    background: #3BADD4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.571429px;
    color: #FFFFFF;
    width: 100%;
    padding: 11px 0;
    border: none;
    outline: none;
}

.form-class {
    width: 400px;
    margin-top: 30px;
}

input {
    background: #FFFFFF;
    border: 1px solid #E0E6EE;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;
    color: #2A3844;
    height: 50px;
    outline: none;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.form-group {
    position: relative;
}

.show {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #16C0EF;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    right: 10px;
    top: 14px;
}

@media screen and (max-width:991px) {
    .sidebar {
        display: none
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 20px 20px;
    }
    .wrapper {
        display: block;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .butttons button {
        margin-bottom: 20px;
    }
    .myaccount {
        padding: 50px 10px 50px 10px;
    }
    .plan {
        padding: 40px 20px 70px 20px;
    }
    .user-leftimg.mb-20 {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .form-class {
        display: block;
    }
    .form-class {
        float: none;
        width: 100%;
        padding: 0;
    }
}